/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #D2D7D3;
}

.jumbotron {
	background: url('dark-blur.jpg') no-repeat center center fixed;
	color: white;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 450px;
}

.auto-pad {
	padding: auto;
}

.highlight {
	/*background-color: rgba(0,102,51,0.7);*/
	background-color: rgba(244,77,60,0.7);
}

.thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.normal {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

/*Blog Styles*/

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#ededed;
}

#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

/*LINK STYLE*/

a:hover {
  color: white;
  background-color: #CF000F;
}

a:visited {
  color: #551A8B;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

/*.panel .lead {
  overflow:hidden;
  height:90px;
}*/

/*.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}*/

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

/*CUSTOM NAVBAR*/
.navbar-trans {
	background-color:#2b2b2b;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#f44d3c;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#f44d3c;
	color:#333;
}

.navbar-trans li>a:hover {
	background-color:#f44d3c;
	color:#fff;
	opacity:0.5;
}

.navbar-trans a{
  color:#cdcdcd;
  letter-spacing:1px;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.btn {
	border-radius: 0;
}

.btn-danger {
  background-color:#F44D3C;
}

.text-danger, a.text-danger {
  color:#F44D3C;
}

.btn-huge {
  padding:17px 22px;
  font-size:22px;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.edit {
  color: #2A5DB0;
}

.read-more {
  color: #F44D3C;
}