<div class="container">
	<div class="row">
		<div class="col-md-12 jumbotron">
			<div class="text-center">
				<h1 class="highlight thin">Hello and welcome!</h1>
				<h3 class="highlight thin">Subscribe to receive the latest tech news!</h3>
				<br>
				<div class="btn btn-lg btn-success">Subscribe</div>
			</div>
		</div>
	</div>
</div>